.gradle/
build/
**/build/
.idea/
*.iml
out/
dist/
*.class
*.log
.DS_Store
local.properties
bin/kscriptx.jar
bin/lib/
bin/lib-compiler/
*.jar
!gradle/wrapper/gradle-wrapper.jar
!cli/src/main/resources/**/*.jar
!scripts/native-kotlinc/**/*.jar
